version: '3.8'

services:
  api:
    build:
      context: ../../
      dockerfile: 1-Presentation/Bernhoeft.GRT.Teste.Api/Dockerfile
    container_name: bernhoeft-api
    ports:
      - "5000:80"
      - "5001:443"
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - ASPNETCORE_URLS=http://+:80;https://+:443
      - PORT=80
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "curl", "--fail", "http://localhost:80/"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 30s

