# Docker Pipeline - Backend API (.NET)
# Build and push Docker image for .NET API to Azure Container Registry
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

trigger:
  branches:
    include:
      - master
      - main
  paths:
    include:
      - 1-Presentation/Bernhoeft.GRT.Teste.Api/*
      - 2-Application/*
      - 3-Domain/*
      - 4-Infra/*
      - azure-pipelines-backend.yml

resources:
  - repo: self

variables:
  # Nome do Service Connection criado no Azure DevOps
  # ID do Service Connection: 9375e1a3-0899-4197-b6e6-857da1df01d7
  dockerRegistryServiceConnection: 'conectaazure'
  # URL do Azure Container Registry (este é o valor correto: unewsistemas.azurecr.io)
  containerRegistry: 'unewsistemas.azurecr.io'
  backendImageRepository: 'bernhoeft-api'
  tag: '$(Build.BuildId)'

stages:
- stage: BuildBackend
  displayName: Build and Push Backend API
  jobs:
  - job: BuildBackend
    displayName: Build Backend Docker Image
    pool:
      vmImage: ubuntu-latest
    steps:
    # Verificar Docker
    - script: |
        echo "Docker version:"
        docker --version
      displayName: 'Verificar Docker'

    # Build da imagem Docker do Backend
    - task: Docker@2
      displayName: 'Build Backend Docker Image'
      inputs:
        command: build
        dockerfile: '1-Presentation/Bernhoeft.GRT.Teste.Api/Dockerfile'
        buildContext: '.'
        containerRegistry: '$(dockerRegistryServiceConnection)'
        repository: '$(backendImageRepository)'
        tags: |
          $(tag)
          latest

    # Push da imagem Backend para Azure Container Registry
    - task: Docker@2
      displayName: 'Push Backend Docker Image to ACR'
      inputs:
        command: push
        containerRegistry: '$(dockerRegistryServiceConnection)'
        repository: '$(backendImageRepository)'
        tags: |
          $(tag)
          latest

    # Salvar informações da imagem
    - script: |
        echo "##vso[task.setvariable variable=BackendImageTag]$(containerRegistry)/$(backendImageRepository):$(tag)"
        echo "Imagem Backend construída e enviada: $(containerRegistry)/$(backendImageRepository):$(tag)"
        echo "Registry: $(containerRegistry)"
        echo "Repository: $(backendImageRepository)"
        echo "Tag: $(tag)"
      displayName: 'Salvar informações Backend'

