# Docker Pipeline - Backend API (.NET)
# Build and push Docker image for .NET API to Azure Container Registry
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

trigger:
  branches:
    include:
      - master
      - main
  paths:
    include:
      - 1-Presentation/Bernhoeft.GRT.Teste.Api/*
      - 2-Application/*
      - 3-Domain/*
      - 4-Infra/*
      - azure-pipelines-backend.yml

resources:
  - repo: self

variables:
  # Nome do Service Connection AzureRM criado no Azure DevOps
  # ID do Service Connection: 9375e1a3-0899-4197-b6e6-857da1df01d7
  azureSubscription: 'conectaazure'
  # URL do Azure Container Registry
  containerRegistry: 'unewsistemas.azurecr.io'
  acrName: 'unewsistemas'
  backendImageRepository: 'bernhoeft-api'
  tag: '$(Build.BuildId)'

stages:
- stage: BuildBackend
  displayName: Build and Push Backend API
  jobs:
  - job: BuildBackend
    displayName: Build Backend Docker Image
    pool:
      vmImage: ubuntu-latest
    steps:
    # Verificar Docker
    - script: |
        echo "Docker version:"
        docker --version
      displayName: 'Verificar Docker'

    # Login no Azure usando Service Connection AzureRM
    - task: AzureCLI@2
      displayName: 'Login no Azure e ACR'
      inputs:
        azureSubscription: '$(azureSubscription)'
        scriptType: 'bash'
        scriptLocation: 'inlineScript'
        inlineScript: |
          # Login no Azure Container Registry
          az acr login --name $(acrName)
          echo "Login no ACR realizado com sucesso"

    # Build da imagem Docker do Backend
    - script: |
        docker build \
          -f 1-Presentation/Bernhoeft.GRT.Teste.Api/Dockerfile \
          -t $(containerRegistry)/$(backendImageRepository):$(tag) \
          -t $(containerRegistry)/$(backendImageRepository):latest \
          .
      displayName: 'Build Backend Docker Image'

    # Push da imagem Backend para Azure Container Registry
    - script: |
        docker push $(containerRegistry)/$(backendImageRepository):$(tag)
        docker push $(containerRegistry)/$(backendImageRepository):latest
      displayName: 'Push Backend Docker Image to ACR'

    # Salvar informações da imagem
    - script: |
        echo "##vso[task.setvariable variable=BackendImageTag]$(containerRegistry)/$(backendImageRepository):$(tag)"
        echo "Imagem Backend construída e enviada: $(containerRegistry)/$(backendImageRepository):$(tag)"
        echo "Registry: $(containerRegistry)"
        echo "Repository: $(backendImageRepository)"
        echo "Tag: $(tag)"
      displayName: 'Salvar informações Backend'

